{% extends 'main.html' %}

{% block content %}
<h2>Collegehead Login</h2>
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <label class="form-label">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Enter Username" />
        <br>
        <label class="form-label">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Password" />
        <br>
        <input type="submit" class="btn btn-primary" value="Sign In" />
    </form>
</div>
{% endblock %}