{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h2>Register student here</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label for="id_registration_no" class="form-label">Registration no:</label>
            <input type="text" class="form-control" name="registration_no" maxlength="20" required
                id="id_registration_no">
        </p>


        <p>
            <label for="id_name" class="form-label">Name:</label>
            <input type="text" class="form-control" name="name" maxlength="200" required id="id_name">
        </p>


        <p>
            <label for="id_other_details" class="form-label">Other details:</label>
            <input type="text" class="form-control" name="other_details" maxlength="200" required id="id_other_details">
        </p>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endblock %}